<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <head>
        <title>Vue.js Pet Depot</title>
        <meta charset="utf-8">
        <script src="https://unpkg.com/vue"></script>
        <link rel="stylesheet" type="text/css" href="assets/css/app.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        crossorigin="anonymous">
    </head>
    <body>
    <div class="content container">
        <div class="row">
            <div class="col-md-12">
                <div id="app">
                    <header>
                        <div class="navbar navbar-default">
                            <h1 v-text="sitename"></h1>
                                <!--<h2>Другой варинат вывода: {{ sitename }}</h2>-->
                        </div>
                        <div class="nav navbar-nav navbar-right cart">
                            <button type="button" class="btn btn-default btn-lg" v-on:click="showCheckout">
                                <span class="glyphicon glyphicon-shopping-cart">
                                    {{ cartItemCount }}
                                </span>
                                Checkout
                            </button>
                        </div>
                    </header>
                    <main>
                        <div class="container">
                            <div class="row product">
                                <div v-if="showProduct">
                                    <div class="col">
                                        <figure>
                                            <img v-bind:src="product.image">
                                            <img :src="product.image">
                                        </figure>
                                    </div>
                                    <div class="col col-expand">
                                        <h1 v-text="product.title">Неотображаемый текст</h1>
                                        <p v-html="product.description">Текст текст текст</p>
                                        <p class="price">{{ product.price | formatPrice }}</p>
                                        <button class="btn btn-primary" v-if="canAddToCart" v-on:click="addToCart">     <!--v-show="canAddToCart"-->
                                            Добавить в корзину
                                        </button>
                                        <button class="btn btn-primary" disabled v-else>     <!--v-show="canAddToCart"-->
                                            Добавить в корзину
                                        </button>
                                    </div>
                                </div>
                                <div v-else>
                                    <div class="col-md-6">
                                        <strong>First Name:</strong>
                                        <input v-model.lazy.trim="order.firstName" class="form-control"/>
                                    </div>
                                    <div class="col-md-6">
                                        <strong>Last Name:</strong>
                                        <input v-model.trim="order.lastName" class="form-control"/>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12"><strong>Address:</strong></div>
                                        <div class="col-md-12">
                                            <input v-model.trim="order.address" class="form-control"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12"><strong>City:</strong></div>
                                        <div class="col-md-12">
                                            <input v-model.trim="order.city" class="form-control"/>
                                        </div>
                                    </div>
                                    <div class="form-group">    <!--  -->
                                        <div class="col-md-2">
                                            <strong>State:</strong>
                                            <select v-model="order.state" class="form-control">
                                                <option disaЬled value="">State</option>
                                                <option v-for="(state, key, index) in states" v-bind:value="state">
                                                    {{ key }} - {{ index }}
                                                </option>
                                                <!--<option v-bind:value="states.AL">AL</option>
                                                <option v-bind:value="states.AR">AR</option>
                                                <option v-bind:value="states.CA">CA</option>
                                                <option v-bind:value="states.NV">NV</option>-->
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-6 col-md-offset-4">
                                            <strong>Zip / Postal Code:</strong>
                                            <input v-model.number="order.zip" class="form-control"/>
                                        </div>
                                    </div>

                                    <div class="form-group">    <!-- флажок -->
                                        <div class="col-md-6 boxes">
                                            <input type="checkbox" id="gift" value="Какое-то значение"
                                                   v-model="order.gift"
                                                   v-bind:true-value="order.sendGift"
                                                   v-bind:false-value="order.dontSendGift">

                                            <label for="gift">Ship As Gift?: {{ order.gift }}</label>
                                        </div>
                                    </div>

                                    <div class="form-group">    <!-- переключатель -->
                                        <div class="col-md-6 boxes">
                                            <input type="radio" id="home" v-bind:value="order.home" v-model="order.method">
                                            <label for="home">Home</label>
                                            <input type="radio" id="business" v-bind:value="order.business" v-model="order.method">
                                            <label for="business">Business</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            <button type="submit" class="btn btn-primary submit" v-on:click="submitForm">
                                                Place Order
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-md-12 verify">
                                        <pre>
                                            First Name: {{ order.firstName }}
                                            Last Name: {{ order.lastName }}
                                            Address: {{ order.address }}
                                            City: {{ order.city }}
                                            Zip: {{ order.zip }}
                                            State: {{ order.state }}
                                            Method: {{ order.method }}
                                            Gift: {{ order.gift }}
                                        </pre>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </main>
                </div>

                <script type="text/javascript">
                    var APP_LOG_LIFECYCLE_EVENTS = false;
                    var webstore = new Vue({
                        el: "#app",
                        data: {
                            showProduct: true,
                            sitename: 'Vue.js Pet Depot',
                            product: {
                                id: 1001,
                                title: "Кошачий корм, 250гр",
                                description: "Описание кошачьего корма. <em>Вкусная и полезная еда для вашего питомца</em>",
                                price: 1300,
                                image: "assets/images/product-fullsize.png",
                                availableInventory: 5
                            },
                            order: {
                                firstName: "",  /* свойство добавится автоматически, но для наглядности добавим */
                                lastName: "",   /* -//- */
                                address: "",
                                city: "",
                                zip: "",
                                state: "",
                                method: "Home Address",
                                business: "Business Address",
                                home: "Home Address",
                                gift: "Упаковать  подарок",
                                sendGift: "Упаковать  подарок",
                                dontSendGift: "Не упаковывать подарок",
                            },
                            cart: [],
                            states: {
                                AL: 'Alabama',
                                AR: 'Arizona',
                                CA: 'California',
                                NV: 'Nevada'
                            }
                        },
                        computed: {
                            cartItemCount: function () {
                                return this.cart.length;
                            },
                            canAddToCart: function () {
                                return this.product.availableInventory > this.cartItemCount;
                            }
                        },
                        methods: {
                            addToCart: function() {
                                this.cart.push(this.product.id);
                            },
                            showCheckout: function() {  /* или просто showCheckout() */
                                this.showProduct = this.showProduct ? false : true; /* фунция переключения значений */
                            },
                            submitForm() {
                                alert("Отправлено");
                            }
                        },

                        filters: {
                            formatPrice: function(price) {
                                if (!parseInt(price)) {
                                    return "";
                                }
                                if (price > 99999) {
                                    var priceString = (price / 100).toFixed(2);
                                    var priceArray = priceString.split("").reverse();
                                    var index = 3;
                                    while (priceArray.length > index + 3) {
                                      priceArray.splice(index+3, 0, ",");
                                      index += 4;
                                    }
                                    return "$" + priceArray.reverse().join("");
                                } else {
                                    return "$" + (price / 100).toFixed(2);
                                }
                            }
                        },

                        beforeCreate: function() {
                            if (APP_LOG_LIFECYCLE_EVENTS) {
                                console.log("beforeCreate");
                            }
                        },
                        created: function() {
                            if (APP_LOG_LIFECYCLE_EVENTS) {
                                console.log("created");
                            }
                        },
                        beforeMount: function() {
                            if (APP_LOG_LIFECYCLE_EVENTS) {
                                console.log("beforeMount");
                            }
                        },
                        mounted: function() {
                        if (APP_LOG_LIFECYCLE_EVENTS) {
                                console.log("mounted");
                            }
                        },
                        beforeUpdate: function() {
                            if (APP_LOG_LIFECYCLE_EVENTS) {
                                console.log("beforeUpdate");
                            }
                        },
                        updated: function() {
                            if (APP_LOG_LIFECYCLE_EVENTS) {
                                console.log("updated");
                            }
                        },
                        beforeDestroy: function() {
                            if (APP_LOG_LIFECYCLE_EVENTS) {
                                console.log("beforeDestroy ");
                            }
                        },
                        destroyed: function() {
                            if (APP_LOG_LIFECYCLE_EVENTS) {
                                console.log("destroyed");
                            }
                        }
                    });
                </script>
            </div>
        </div>
    </div>
    </body>
</html>